body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5%;
  background: #fafafa;

}

#calculator {
  background-color: #fdfdfd;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 24%;
  padding: 1%;


}

#calculator a {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  color: black;
  padding: 2%;

}

#numbers {
  background-color: rgb(63,81,181);
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;


}

#numbers a {
  font-size: 32px;
  background-color: rgb(63,81,181);
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;



}

#operators {
  font-size: 32px;
  width: 10%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

#operators a {
  font-size: 39px;
  padding: 10%;
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;





}

#total {
  font-size: 60px;



}

#side {
	width: 20%;
	float: right;
}

#side a {
	width: 10%
	height: 10%;
	float: right;
	font-size: 32px;
	padding: 2%;
	margin: 2%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;

}

a#equals {
  display: flex;
  flex-wrap: nowrap;


}
